<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    @RenderSection("metatags", false)
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="~/assets/images/icon/favicon.ico">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/metisMenu.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/slicknav.min.css">

    <!-- others css -->
    <link rel="stylesheet" href="~/assets/css/typography.css">
    <link rel="stylesheet" href="~/assets/css/default-css.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <link rel="stylesheet" href="~/assets/css/estilos.css">
    <!-- modernizr css -->
    <script src="~/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="~/assets/js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- include the script -->
    <script src="~/assets/js/alertify.min.js"></script>

    <!-- include the style -->
    <link rel="stylesheet" href="~/assets/js/css/alertify.min.css" />
    <!-- include a theme -->
    <link rel="stylesheet" href="~/assets/js/css/themes/default.min.css" />

    <!-- JS -->


    <script src="~/assets/js/menu.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- CSS  -->
    <link href="~/assets/css/menu.css" type="text/css" rel="stylesheet" media="screen,projection" />

</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        @if (Session["username"] != null)
        {
            <section id="desktop-menu" class="desktop-menu">
                <nav class="sidebar flex-column-nowrap">
                    <a class="sidebar__logo">
                        <abbr class="logo"><img src="~/assets/images/icon/logo.png" height="90px" width="70px"></abbr>
                    </a>
                    <hr />
                    <ul class="sidebar__nav-list flex-column-nowrap" role="menubar" aria-label="Main desktop menu">
                        <li class="nav-list__item skills fake-button flex-column-nowrap" role="menuitem">
                            <a href="@Url.Content("~/Productos/Index")" tabindex="0">
                                <img src="~/assets/images/icon/Productos.png" width="40px" height="40px" class="flex-row-wrap">
                                <span>Productos</span>

                            </a>
                        </li>
                        @if (Session["idTypeUser"].Equals(1))
                        {
                            <li class="nav-list__item about-me fake-button flex-column-nowrap" role="menuitem">
                                <a href="@Url.Content("~/User/Index")" tabindex="0">
                                    <svg viewBox="0 0 44.017969 41.921879" role="img" aria-labelledby="Users">
                                    </svg>
                                    <img src="~/assets/images/icon/Users.png" width="40px" height="40px" class="flex-row-wrap">
                                    <span>Usuarios</span>
                                </a>
                            </li>
                        }
                    </ul>

                </nav>
            </section>
        }


        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">


                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-6 col-sm-4 clearfix">
                        <div class="pull-right" style="color:white">
                            @if (Session["username"] != null)
                            {
                                <div class="btn-group">
                                    <div class="btn-group dropleft" role="group">
                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(102px, 56px, 0px); top: 0px; left: 0px; will-change: transform;">
                                            <a class="dropdown-item" href="@Url.Content("~/Login/LogOut")">
                                                <i class="fa fa-power-off"></i><span>Salir</span>
                                            </a>
                                        </div>
                                    </div>
                                    <button class="btn btn-secondary btn-sm" type="button">
                                        <img class="avatar user-thumb"
                                             src="~/assets/images/author/avatar.png" alt="avatar">
                                        @Session["username"]
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            @RenderBody()
        </div>
        <!-- main content area end -->
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p>© Copyright 2019. Universidad Tecnológica de la Selva.</p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>
    <!-- footer area end-->
    <!-- page container area end -->
    <!-- jquery latest version -->

    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/metisMenu.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.min.js"></script>
    <script src="~/assets/js/jquery.slicknav.min.js"></script>


    <!-- others plugins -->
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/scripts.js"></script>
</body>

</html>

